html,
body {
  	height: 100%;
}

.jumbotron {
    color: #fff;
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    background-color: transparent;
    background: url('../img/Wood-Backgrounds-Picture.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-separator {
 		height: 500px;
		padding-top: 185px;
		/*border: solid;*/
}

.cover-images {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* PARALLAX */
#parallax1, 
#parallax2, 
#parallax3 {
	position: relative;
	overflow: hidden;
    height: 50vh;
}
/*@media (min-width: 1200px) {
	#parallax1, 
	#parallax2, 
	#parallax3 {
		height: 50vh;
	}
}*/
#parallax1 > div, 
#parallax2 > div, 
#parallax3 > div {
		position: relative;
		height: 200%;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
}
section#parallax {
  height: 60vh;
}
#parallax {
  position: relative;
  overflow: hidden;
}
#parallax h3 {
  font-size: 80px;
  text-align: center;
  margin: -40px 0 0 0;
  position: absolute;
  top: 50%;
  width: 100%;
  line-height: 80px;
}
#parallax #parallaxbg {
  position: absolute;
  height: 300px;
  top: 50%;
  width: 100%;
  margin-top: -150px;
  background-image: url("../img/geometry.png");
}
#parallaxbg .top {
  height: 10px;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url("../img/demo_parallax_shadow_top.png");
}
#parallaxbg .bottom {
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url("../img/demo_parallax_shadow_bottom.png");
}	
.knife-long {
		position: absolute;
		width: 50%;
}
#wood-table {
		position: absolute;
		width: 50%;
}


/* carousel */
.fill {
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
    position:absolute;
		/*padding-left: 0;
			padding-right: 0;*/
		/*margin-bottom: 10px;*/
}

.carousel-inner > .item {
    height:auto;
    min-height:600px;
    width:100%;
}

.container {
    padding-left:0;
    padding-right:0;
}

.carousel {
    width:100%;
}

.carousel-indicators {
    bottom:0;
    left:68%;
    text-align:right;
}

.carousel-caption {
		text-shadow: 1.5px 2px 4px #000;
}
/* end carousel */


/* CSS used here will be applied after bootstrap.css */

.col-custom-8 {
	width: 10%;
	float: left;
	margin: auto 1%;
}

.nutrition-table {
}

.nutrition {
	border: 2px #333 solid;
  	border-radius: 30%;
    padding: 0;
	margin-top: 3px;
}
.nutrition > h5 {
	background-color: #333;
    color: #fff;
  	border-top-left-radius: 38%;
    border-top-right-radius: 38%;
  	margin: 0;
  	margin-top: -1px;
  	padding: 14px 5px;
}

.miscelaneos-table {
	margin-top: 10px;
}

@media (max-width: 400px){
	.nutrition > h5 {
		padding: 8px 0;
		font-size: 0.9em;
	}
	.nutrition > h4 {
		font-size: 0.9em;
	}
}

footer {
		padding-top: 40px;
		padding-top: 20px;
}


/* stagger style controls */
	
#demo {
  height:100%;
  position:relative;
}
.box {
  width:50px;
  height:50px;
  position:relative;
  border-radius:6px;
  margin-top:4px;
  display:inline-block
}

.green{
  background-color:#6fb936;
}

.orange {
  background-color:#f38630;
}
.grey {
  background-color:#989898;
}