<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Sandbox</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../css/social-buttons-colored.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../css/offcanvas-left-menu.css" rel="stylesheet">
    <link href="../../css/sandbox.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      
    <script type="text/javascript" src="../../js/dependent/greensock/TweenMax.min.js"></script>
	<script type="text/javascript" src="../../js/dependent/greensock/plugins/ScrollToPlugin.min.js"></script>
	<!--<script type="text/javascript" src="js/_dependent/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script type="text/javascript" src="../../js/examples/modernizr.custom.min.js"></script>
  	<script type="text/javascript" src="../../js/mobile/iscroll-probe.js"></script>
  	<script type="text/javascript" src="../../js/jquery.scrollmagic.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.scrollmagic.debug.js"></script>
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="slide-nav">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-toggle"> 
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="navbar-brand" href="#">Sandbox</a>
        </div>
        <div id="slidemenu">
          <ul class="nav navbar-nav">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../contact.html">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Food <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="active"><a href="#">Beef Wellington</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Hello!</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div><!--navbar-->

      
  <!--wrap the page content do not style this-->
 <div id="page-content">
     
  <div class="container-fluid">

		<h1>Beef Wellington</h1>
		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="row">
				<img class="img-responsive" src="../../img/beef-wellington.jpg" alt="Beef Wellington">
			</div>	
			</div><!-- /.col-lg-4 -->
			<div class="">
				<div class="col-lg-8 col-md-8 col-sm-8">
					<div class="nutrition-table">
						<div class="col-custom-8">
						  <div class="text-center nutrition">    
							<h5 title="KCalories">Cal</h5>
							<h4>763</h4>
						  </div>
						</div>
						<div class="col-custom-8">	
						  <div class="text-center nutrition">    
							<h5 title="Proteins">Prot</h5>
							<h4>50g</h4>
						  </div>
						</div>
						<div class="col-custom-8">	
						  <div class="text-center nutrition">    
							<h5 title="Carbohydrates">Carb</h5>
							<h4>32g</h4>
						  </div>
						</div>
						<div class="col-custom-8">	
						  <div class="text-center nutrition">    
							<h5 title="Fat">Fat</h5>
							<h4>48g</h4>
						  </div>
						</div>
						<div class="col-custom-8">	
						  <div class="text-center nutrition">    
							<h5 title="Saturate">Sat</h5>
							<h4>20g</h4>
						  </div>
						</div>
						<div class="col-custom-8">	
						  <div class="text-center nutrition">    
							<h5 title="Fibres">Fib</h5>
							<h4>0g</h4>
						  </div>
						</div>
						<div class="col-custom-8">	
						  <div class="text-center nutrition">    
							<h5 title="Sugar">Sug</h5>
							<h4>0g</h4>
						  </div>
						</div>
						<div class="col-custom-8">	
						  <div class="text-center nutrition">    
							<h5 title="Salt">Salt</h5>
							<h4>2.5g</h4>
						  </div>
						</div>
					</div> <!-- row nutrition-table-->
				</div><!-- /.col-lg-8 -->
				<div class="col-lg-8 col-md-8 col-sm-8 text-center miscelaneos-table">
					<div class="btn" title="Prep. time">
						<i class="fa fa-clock-o fa-2x pull-left"></i> 1 hr - 2 hrs</div>
					<div class="btn" title="Skill level">
						<i class="fa fa-cogs fa-2x pull-left"></i> Easy</div>
					<div class="btn" title="People">
						<i class="fa fa-users fa-2x pull-left"></i> Serves 6</div>
				</div>
			</div> <!-- row -->
		</div><!-- /.row -->

		<hr class="featurette-divider">
		
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<ul>
					<li>A good beef fillet (preferably Aberdeen Angus) of around 1kg/2lb 4oz</li>
					<li>3 tbsp olive oil</li>
					<li>250g/ 9oz chestnut mushroom, include some wild ones if you like</li>
					<li>50g/ 2oz butter</li>
					<li>1 large sprig fresh thyme</li>
					<li>100ml/ 3½ fl oz dry white wine</li>
					<li>12 slices prosciutto</li>
					<li>500g/1lb 2oz pack puff pastry, thawed if frozen</li>
					<li>A little flour, for dusting</li>
					<li>2 egg yolks beaten with 1 tsp water</li>
				</ul>
			</div><!-- /.col-lg-3 -->
			<div class="col-lg-9 col-md-9 col-sm-9">
				<ol>
					<li>Heat oven to 220C/fan 200C/gas 7. Sit the 1kg beef fillet on a roasting tray, brush with 1 tbsp olive oil and season with pepper, then roast for 15 mins for medium-rare or 20 mins for medium. When the beef is cooked to your liking, remove from the oven to cool, then chill in the fridge for about 20 mins.</li>
					<li>While the beef is cooling, chop 250g chestnut (and wild, if you like) mushrooms as finely as possible so they have the texture of coarse breadcrumbs. You can use a food processor to do this, but make sure you pulse-chop the mushrooms so they don’t become a slurry.</li>
Heat 2 tbsp of the olive oil and 50g butter in a large pan and fry the mushrooms on a medium heat, with 1 large sprig fresh thyme, for about 10 mins stirring often, until you have a softened mixture. Season the mushroom mixture, pour over 100ml dry white wine and cook for about 10 mins until all the wine has been absorbed. The mixture should hold its shape when stirred. Remove the mushroom duxelle from the pan to cool and discard the thyme.</li>
					<li>Overlap two pieces of cling film over a large chopping board. Lay 12 slices prosciutto on the cling film, slightly overlapping, in a double row. Spread half the duxelles over the prosciutto, then sit the fillet on it and spread the remaining duxelles over. Use the cling film’s edges to draw the prosciutto around the fillet, then roll it into a sausage shape, twisting the ends of cling film to tighten it as you go. Chill the fillet while you roll out the pastry.</li>
					<li>Dust your work surface with a little flour. Roll out a third of the 500g pack of puff pastry to a 18 x 30cm strip and place on a non-stick baking sheet. Roll out the remainder of the 500g pack of puff pastry to about 28 x 36cm. Unravel the fillet from the cling film and sit it in the centre of the smaller strip of pastry. Beat the 2 egg yolks with 1 tsp water and brush the pastry’s edges, and the top and sides of the wrapped fillet. Using a rolling pin, carefully lift and drape the larger piece of pastry over the fillet, pressing well into the sides. Trim the joins to about a 4cm rim. Seal the rim with the edge of a fork or spoon handle. Glaze all over with more egg yolk and, using the back of a knife, mark the beef Wellington with long diagonal lines taking care not to cut into the pastry. Chill for at least 30 mins and up to 24 hrs.</li>
					<li>Heat oven to 200C/fan 180C/gas 6. Brush the Wellington with a little more egg yolk and cook until golden and crisp – 20-25 mins for medium-rare beef, 30 mins for medium. Allow to stand for 10 mins before serving in thick slices.</li>
				</ol>
			</div><!-- /.col-lg-9 -->
		</div><!-- /.row -->
      

		<!-- FOOTER -->
		<footer>
			<ul class="social-icons icon-flat icon-zoom list-unstyled list-inline">
				<li><a href="https://www.linkedin.com/pub/luis-manuel-s%C3%A1nchez-m%C3%A1rquez/49/422/788"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://twitter.com/luissanchezm86"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://github.com/LuisSanchez/luissanchez.github.io"><i class="fa fa-github"></i></a></li>
				<li><a href="http://careers.stackoverflow.com/luissanchez"><i class="fa fa-stack-overflow"></i></a></li>
			</ul>
			<p class="pull-right"><a href="#page-content">Back to top</a></p>
			<p>Luis Sánchez - 2014</p>
		</footer>

    </div><!-- /.container -->
     
 </div>
 <!-- /#page-content -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="../../js/offcanvas-left-menu.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../js/index.js"></script>
	<script src="../../js/beef-wellington.js"></script>
	
  </body>
</html>