<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->
    
    <title>Cooperativa de Hangares - Conócenos</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/custom.min.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="../images/logo.png" alt="Cooperativa"/>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="../index.html">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyectos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="barcelona.html">Barcelona</a></li>
              <li><a href="higuerote.html">Higuerote</a></li>
              <li><a href="valencia.html">Valencia</a></li>
              <li><a href="margarita.html">Margarita</a></li>
              <li><a href="inter-barcelona.html">Aeropuerto Inter Barcelona</a></li>
              <li><a href="proyectos.html">Ver Todos</a></li>
            </ul>
          </li>
          <li><a href="#about">Noticias</a></li>
          <li><a href="conocenos.html">Conócenos</a></li>
          <li><a id="btn-contact" data-toggle="modal" data-target="#contact-modal" href="#">Contacto</a></li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Default</a></li>
          <li class="active"><a href="./">Static top</a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul>-->
      </div><!--/.nav-collapse -->      
    </div>

    <div class="container-separator header-separator">
      <span>
        Conócenos
      </span>
    </div>  
  
      <div class="cooperativa-body">
    <div class="row">     
      <div class="well">
        <p><h3>Cooperativa de Hangares, C.A.</h3>El Gobierno revolucionario del presidente 
          Nicolás Maduro ha entendido la dimensión del gran legado del Comandante Hugo Chávez 
          cuando avizoró que el futuro de la integración de la patria grande pasaba por la participación 
          de nuestro país en el Mercosur y de esa forma lanzó la Misión Mercosur. Y en el marco de ese 
          lanzamiento está la recuperación y ampliación de áreas de puertos y aeropuertos que sirvan de 
          entrada y salida de bienes y servicios desde y hacia nuestros socios suramericanos y del Caribe.</p>
        <p>La vista puesta en el sur y el Caribe ha llevado al Gobierno revolucionario a ampliar la capacidad 
          operativa del Aeropuerto Internacional General José Antonio Anzoátegui de Barcelona con la construcción 
          de 101 hangares para servicios de mantenimiento, reparación mayor y menor y resguardo de aeronaves. 
          Este complejo, que se construye en Alianza Estratégica con <strong>Cooperativa de Hangares GDJAA/Aerocentro</strong>, 
          se distribuye en 65 hangares de 600 mts<sup>2</sup> y 36 de 1200 mts<sup>2</sup> lo que garantizará la capacidad de albergar 
          400 aeronaves que contribuirán al transporte de personal de las empresas básicas y privadas de la zona y 
          generarán ingresos cuantiosos que contribuirán a la auto sustentación económica del Aeropuerto Internacional 
          de Barcelona. Este desarrollo se complementa con la construcción de 4 helipuertos y 9 taxiways que cubren una 
          extensión de 58.016 mts<sup>2</sup>.</p>
        <p>De igual forma se está construyendo un área comercial con 26 locales que servirán para suplir de bienes y servicios a 
          la población popular aledaña lo que impactará a más de 40.000 habitantes de las urbanizaciones circundantes.</p>      
        <p>Aún más ambicioso es el proyecto de construcción de 200.000 mts<sup>2</sup> en total que incluye 25.000 mts<sup>2</sup> de plataforma de carga 
          aérea internacional y un área de almacenaje de 20.000 mts<sup>2</sup> en 6 mega galpones que podrán ser destinados al mantenimiento 
          de grandes aeronaves, lo que convertirá al Aeropuerto Internacional José Antonio Anzoátegui de Barcelona en el Terminal 
          Aéreo del Mercosur y conjuntamente con el Puerto de Guanta a la conurbación de Barcelona-Puerto La Cruz-Guanta en la Puerta 
          Norte del Mercosur. Esto va a significar la descentralización y descongestión no solo de los puertos y aeropuertos de tráfico 
          aéreo y marítimo internacional hacia el oriente del país, sino que además impactará beneficiosamente las vías terrestres 
          como Caracas-La Guaira, Caracas-Guatire-Guarenas, Mariscal de Ayacucho, Regional del Centro y Puerto Cabello-Valencia entre 
          otras debido a que la carga dirigida al oriente del país podrá llegar de forma directa a través de la plataforma de carga 
          proyectada.</p>
        <p>La inversión total proyectada para la realización de la del complejo aeroportuario será de Bs 1.200.000 mediante el exitoso modelo de 
          alianza estratégica con la empresa privada que apuesta al éxito del país. Y generará en su construcción y operación más de 1200 empleos 
          directos y 7000 indirectos.</p>
        <p>Y en consonancia con los planes del Gobierno Bolivariano <strong>Cooperativa de Hangares GDJAA/Aerocentro</strong>, continúa con la Alianza Estratégica en 
          todo el país, construyendo hangares, terminales y torres de control en ciudades como Porlamar, Valencia, Maracaibo. En Higuerote, además 
          de lo ya descrito se está levantando el más moderno complejo aeronáutico turístico recreacional de Latinoamérica.</p>
        <p><strong>Cooperativa de Hangares GDJAA/Aerocentro nace para ponerse al servicio del pueblo venezolano, contribuyendo para que la Revolución 
          Aeroportuaria sea cada día más una realidad.</strong></p>
      </div>
    </div>
  </div>
  
  <footer>
    <img src="../images/logo-inverse.png" alt="Cooperativa"/>
  </footer>
    
  <!-- Modals
  ================================================== -->  
  <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Solicitar informacion de contacto</h4>
        </div>
        <div class="modal-body">
          <div class="alert">
            <p id="message-container"></p>
          </div>
          <form role="form" action="backend/sendEmail.php">
            <div class="form-group"> 
              <label for="req-name">Tu nombre:</label>
              <input type="text" id="req-name" name="req-name" class="form-control" required minlength="2" value="" />
            </div>
            <div class="form-group">
              <label for="req-email">Correo electrónico:</label>
              <input type="email" name="req-email" class="form-control" required value="" />
            </div>
            <div  class="form-group">
              <select name="subject" class="form-control"required>
                <option value="">Asunto:</option>
                <option value="Requerimiento">Requerimiento</option>
                <option value="Información de ventas">Información de ventas</option>
                <option value="Soporte">Soporte</option>
              </select>
            </div>
            <div  class="form-group">
                <label for="newText">Contenido:</label>
                <textarea class="form-control" cols="40" rows="8" name="newText" minlength="2" required></textarea>
            </div>
            
            <input type="submit" class="btn btn-primary" value="Enviar Correo" />
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
  
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/index.min.js"></script>
  </body>
</html>