<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">-->
		
    <title>Barcelona</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
		<link href="../css/custom.min.css" rel="stylesheet">
		
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
			<img src="../images/logo.png" alt="Cooperativa"/>
		</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class=""><a href="../index.html">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyectos <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="barcelona.html">Barcelona</a></li>
              <li><a href="higuerote.html">Higuerote</a></li>
              <li><a href="valencia.html">Valencia</a></li>
              <li><a href="margarita.html">Margarita</a></li>
              <li><a href="inter-barcelona.html">Aeropuerto Inter Barcelona</a></li>
							<li><a href="proyectos.html">Ver Todos</a></li>
            </ul>
          </li>
					<li><a href="#about">Noticias</a></li>
          <li><a href="conocenos.html">Conócenos</a></li>
					<li><a id="btn-contact" data-toggle="modal" data-target="#contact-modal" href="#">Contacto</a></li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Default</a></li>
          <li class="active"><a href="./">Static top</a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul>-->
      </div><!--/.nav-collapse -->      
    </div>

    <div class="container-separator header-separator">
			<span>
				Higuerote
			</span>
		</div>	
	
		<div class="col-md-3">
			<address>
				<h4>Información externa</h4>
				Obra: 200.091 m<sup>2</sup><br>
				Hangares: 75.756 m<sup>2</sup><br>
				Taxi way: 82.500 m<sup>2</sup><br>
				
				<h4>Información interna</h4>
				66 hangares H-24 (38,016 m<sup>2</sup>)<br>
				29 hangares H-34 (29.580 m<sup>2</sup>)<br>
				4 tallers H-34 (34 x 60 mts) (8.160 m<sup>2</sup>)<br>
				
				<h4>8 almacenadoras</h4>
				3 H-38 (38 x 50 mts) (5.700 m<sup>2</sup>)<br>
				5 H-20 (20 x 50 mts) (5.000 m<sup>2</sup>)<br>
				
				<h5>31.080 m<sup>2</sup> de plataforma de carga</h5>
				
				<h5>82.555 m<sup>2</sup> de taxi ways</h5>
				
				<h4>Total del proyecto</h4>
				200.091 m<sup>2</sup> de desarrollo
			</address>
		</div>

			<div class="container fill" style="height: 73%;">
				<div id="myCarousel" class="carousel slide col-md-9">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
					<li data-target="#myCarousel" data-slide-to="6"></li>
					<li data-target="#myCarousel" data-slide-to="7"></li>
					<li data-target="#myCarousel" data-slide-to="8"></li>
			  </ol>
			  <div class="carousel-inner">
					<div class="item active">
					  <div class="fill" style="background-image:url('../images/higuerote/1.1.jpg');">
			    	</div>
					</div>

					<div class="item">
					  <div class="fill" style="background-image:url('../images/higuerote/2.1.jpg');">
			    	</div>
					</div>	

					<div class="item">
					  <div class="fill" style="background-image:url('../images/higuerote/3.1.jpg');">
			    	</div>
					</div>	

					<div class="item">
					  <div class="fill" style="background-image:url('../images/higuerote/4.1.jpg');">
			    	</div>
					</div>	

					<div class="item">
					  <div class="fill" style="background-image:url('../images/higuerote/5.1.jpg');">
			    	</div>
					</div>	

					<div class="item">
					  <div class="fill" style="background-image:url('../images/higuerote/6.1.jpg');">
			    	</div>
					</div>	

					<div class="item">
					  <div class="fill" style="background-image:url('../images/higuerote/7.1.jpg');">
			    	</div>
					</div>

					<div class="item">
					  <div class="fill" style="background-image:url('../images/higuerote/8.1.jpg');">
			    	</div>
					</div>

					<div class="item">
					  <div class="fill" style="background-image:url('../images/higuerote/9.1.jpg');">
			    	</div>
					</div>
			  </div>

			  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div><!-- /.carousel -->
		</div>
	
	<footer>
    <img src="../images/logo-inverse.png" alt="Cooperativa"/>
  </footer>
	  
  <!-- Modals
  ================================================== -->	
	<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Solicitar informacion de contacto</h4>
				</div>
				<div class="modal-body">
					<div class="alert">
						<p id="message-container"></p>
					</div>
					<form role="form" action="backend/sendEmail.php">
						<div class="form-group"> 
							<label for="req-name">Tu nombre:</label>
							<input type="text" id="req-name" name="req-name" class="form-control" required minlength="2" value="" />
						</div>
						<div class="form-group">
							<label for="req-email">Correo electrónico:</label>
							<input type="email" name="req-email" class="form-control" required value="" />
						</div>
						<div  class="form-group">
							<select name="subject" class="form-control"required>
								<option value="">Asunto:</option>
								<option value="Requerimiento">Requerimiento</option>
								<option value="Información de ventas">Información de ventas</option>
								<option value="Soporte">Soporte</option>
							</select>
						</div>
						<div  class="form-group">
							  <label for="newText">Contenido:</label>
							  <textarea class="form-control" cols="40" rows="8" name="newText" minlength="2" required></textarea>
						</div>
						
						<input type="submit" class="btn btn-primary" value="Enviar Correo" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					<!--<button type="button" class="btn btn-primary">Save changes</button>-->
				</div>
			</div>
		</div>
	</div>
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
		<script src="../js/index.min.js"></script>
  </body>
</html>